#section--page--header--top .btn-group .btn {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
  border-color: transparent !important;
  border-width: 5px 0 !important;
}

#section--page--header--top .btn-group .btn.active {
  border-bottom-color: #1D4F85 !important;
}

#section--page--header--top .btn-group .btn:hover {
  color: #1D4F85 !important;
}

#section--page--header--top .btn:hover {
  text-decoration: none;
}
