#menu__modal .modal-dialog {
  max-width: none;
  margin: 0;
}

#menu__modal .modal-dialog .modal-content {
  border: 0;
  min-height: 100vh;
}

#menu__modal .dropdown .btn {
  text-decoration: none;
}

#menu__modal .list-group .btn i {
  transition: 0.5s;
}

#menu__modal .list-group .btn.collapsed i {
  transform: rotateX(180deg);
}
