#section--page--main--news .tabs .list-group li a {
  text-decoration: none;
}

#section--page--main--news .tabs .list-group li:hover a {
  color: #1D4F85 !important;
}

#section--page--main--news .tabs .list-group li:hover a + i {
  color: #1D4F85 !important;
}

#section--page--main--news .accordion img {
  position: static !important;
}

#section--page--main--news .element__square + .card-body {
  bottom: 0;
  height: 100%;
  z-index: 1;
}

#section--page--main--news .element__square + .card-body:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(32, 32, 32, 0.85) 15%, rgba(32, 32, 32, 0) 100%);
}

#section--page--main--news .element__square + .card-body:hover:before {
  background: linear-gradient(45deg, rgba(29, 79, 133, 0.85) 70%, rgba(29, 79, 133, 0.85) 100%);
}

#section--page--main--news li .tile, #section--page--main--news a .tile {
  font-size: 1rem;
  display: block;
  width: 1.65em;
  height: 1.65em;
}

#section--page--main--news li:hover .tile.text-white-50, #section--page--main--news a:hover .tile.text-white-50 {
  color: white !important;
}

#section--page--main--news a.bg-dark, #section--page--main--news span.bg-dark {
  box-shadow: .25em 0 0 #343a40, -.25em 0 0 #343a40;
}

#section--page--main--news a.bg-black, #section--page--main--news span.bg-black {
  background: black;
  box-shadow: .25em 0 0 black, -.25em 0 0 black;
}

#section--page--main--news a.bg-primary, #section--page--main--news span.bg-primary {
  background: #1D4F85;
  box-shadow: 0.25em 0 0 #1D4F85, -0.25em 0 0 #1D4F85;
}

#section--page--main--news a > a, #section--page--main--news a span, #section--page--main--news span > a, #section--page--main--news span span {
  position: relative;
  z-index: 100;
}
